/* gneral predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page conteiner */
.conteiner{
  background-color: #d0cbcb;
  width: 100vw;
  height: 100vh;
}

/* image block */
.block{
  width:30%;
  height: 100%;
  margin: auto;
}

/* single image */
.image{
  border: solid 2px white;
  width:100%;
  height:33%;
  position: relative;
}

img{
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

/* text */
.text{
  color: black;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
