/* gneral predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page conteiner */
.conteiner{
  background-color: #d0cbcb;
  width: 100vw;
  height: 100vh;
}

/* image block */
.block{
  width:30%;
  height: 100%;

}

/* single image */
.image{
  border: solid 2px white;
 width:100%;
 height:33%;

}

img{
  width: 100%;
  height: 100%;

}

/* text */
.text{


}
